:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.bg-cover{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.main-cont {
  padding: 16px;
}

.content-title {
  padding: 2rem 0;
  color: #fff;
}

/* Weekly Forecast */

.weather-cont {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}
.weather-container {
  overflow-x: auto;
  display: flex;
  gap: 16px;
  color: #fff;
  width: 100%;
}
.weather-container::-webkit-scrollbar {
  display: none;
}
.card-weather {
  border-radius: 8px;
  border: 1px solid #fff;
  flex: 1 1 150px;
  width: 15% !important;
  height: 15% !important;
  padding: 5px;
  min-width: 80px;
}
.date-title {
  font-size: 1rem;
  font-weight: 700;
}
.icons {
  font-size: 2rem;
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}
.temper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.temper>span {
  width: 100%;
  text-align: center;
  font-weight: normal;
}
.icon {
  width: 100%;
  text-align: center;
}

/* Weather Playlist & WeatherArtists */

.playlist-cont,
.artists-cont {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}
.playlist-container,
.artists-container {
  overflow-x: auto;
  display: flex;
  gap: 16px;
  width: 100%;
}
.playlist-container::-webkit-scrollbar,
.artists-container::-webkit-scrollbar {
  display: none;
}
.card-playlist,
.card-artists {
  position: relative;
  width: 150px;
  aspect-ratio: 1 / 1;
  min-width: 100px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  /* flex-shrink: 0; */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  cursor: pointer;
}
.playlist-image,
.artists-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: filter 0.3s;
}
.card-playlist:hover .playlist-image,
.card-artists:hover .artists-image {
  filter: blur(4px);
}
.artists-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.3s;
  background: rgba(0,0,0,0.7);
}
.card-playlist:hover .playlist-overlay,
.card-artists:hover .artists-overlay {
  opacity: 1;
}
.artists-title {
  font-size: 12px;
  font-weight: 700;
  width: 100%;
  padding: 5px;
  letter-spacing: -1px;
  display: flex;
  justify-content: center;
}

/* Weather Playlist */

.playlist-cont {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}
.playlist-container {
  overflow-x: auto;
  display: flex;
  gap: 16px;
  width: 100%;
}
.playlist-container::-webkit-scrollbar {
  display: none;
}
.card-playlist {
  position: relative;
  width: 150px;
  aspect-ratio: 1 / 1;
  min-width: 100px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  /* flex-shrink: 0; */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  cursor: pointer;
}
.playlist-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: filter 0.3s;
}
.card-playlist:hover .playlist-image {
  filter: blur(4px);
}
.playlist-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.3s;
  background: rgba(0,0,0,0.7);
}
.card-playlist:hover .playlist-overlay {
  opacity: 1;
}
.playlist-title {
  font-size: 12px;
  font-weight: 700;
  width: 100%;
  padding: 5px;
  letter-spacing: -1px;
  display: flex;
  justify-content: center;
}
